---
import Button from "@/components/ui/Button.astro";
import { projects } from "@/data/projects";
import Layout from "@/layouts/Layout.astro";

export async function getStaticPaths() {
  return projects.map(({ slug, name, description, imageURL, links }) => {
    return {
      params: { slug },
      props: { name, description, imageURL, links },
    };
  });
}

const { name, description, imageURL } = Astro.props;
---

<Layout title={name}>
  <div
    class="py-20 min-h-[80vh] max-w-screen-lg mx-auto md:px-0 px-4 text-center items-center flex flex-col gap-4 justify-center"
  >
    <h1
      class="md:text-xl text-base font-semibold uppercase dark:text-primary-dark text-primary-light"
    >
      {name}
    </h1>
    <span class="md:text-5xl text-3xl">{description}</span>
    <img
      src={imageURL}
      alt={name}
      class="w-full h-auto max-w-[600px] mt-8 rounded-lg shadow-lg"
    />
    {
      Astro.props.links && Object.keys(Astro.props.links).length > 0 && (
        <div class="flex flex-col gap-2 mt-8 items-center">
          <p>Links relacionados</p>
          <div class="flex gap-4">
            {Object.entries(Astro.props.links).map(([label, url]) => (
              <a
                href={url}
                class="hover:underline hover:text-primary transition-all"
                target="_blank"
                rel="noopener noreferrer"
              >
                {label.charAt(0).toUpperCase() + label.slice(1)}
              </a>
            ))}
          </div>
        </div>
      )
    }
  </div>
  <!-- <Button variant="primary" href="/" class="mt-4">Voltar para a Home</Button> -->
</Layout>
